.stars {
  display: inline-block;
}

label {
  font-size: 30px;
  color: #aaa;
}

label:before {
  content: '★';
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked ~ label {
  color: #ffdd00;
}

input[type="radio"]:checked ~ label:before {
  color: #ffdd00;
}
